*{
    box-sizing:border-box;
    font-family: 'NunitoSans-Regular';
}

@font-face {
    font-family: 'app';
    src: url('font/app.eot?23297456');
    src: url('font/app.eot?23297456#iefix') format('embedded-opentype'),
    url('font/app.woff?23297456') format('woff'),
    url('font/app.ttf?23297456') format('truetype'),
    url('font/app.svg?23297456#app') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mermaid1001';
    src: url('font/Mermaid1001.ttf') format('truetype');
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('font/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('font/NunitoSans-Bold.ttf');
}

[class^="i-"]:before, [class*=" i-"]:before {
    font-family: "app";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;font-variant: normal;
    text-transform: none;line-height: 1em;
    margin-left: .2em;
    font-size: 125%;
}

.i-user:before { content: '\e801'; } /* '' */
.i-send:before { content: '\e802'; } /* '' */


body{

    margin: 0;
    padding: 0;
    background-color: #F6FEFF;
}

.container{
    width:100%;
    position:relative;
    top:60px;
    padding: 5px 2%;
}

button {
    cursor: pointer;
}

/* Styles de l'index.php */

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    line-height: 100px;
    padding:0 5%;
    margin: 1% auto;
    color: #FFF;
}

.topbar .app-name{
    color:#44CCDD;
    text-decoration:none;
    font-family: 'Mermaid1001';
    font-size: 50px;
}

.topbar .app-name:hover {
    color: #27a1b1;
}

.topbar .menu{
    display: flex;
}

.icon {
    color: #44CCDD;
}

.icon:hover {
    color: #27a1b1;
}


button {
    border-radius: 50px;
    margin: auto;
    border:none;
    width: 150px;
    height:36px;
    cursor:pointer;
    font-size:16px;
    outline:none;
    background-color: #FFE66D;
}

.topbar button {
    margin: 0 3%;
}



#btn-inscription {
    background-color: #44CCDD;
}

a {
    text-decoration:none;
    padding:0 15px;

}

a:hover {
    font-family: 'NunitoSans-Bold';
    font-size: 18px;
}

a:visited {
    color: white;
}


main {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
}

.home-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 70%;
}

.entete {
    font-size: 48px;
}

.sous-titre {
    font-family: 'NunitoSans-Bold';
    font-size: 24px;
    color: #878787;
}

form {
    width: 50%;
    margin: auto;
}

.field{
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
}

.field-label{
    position: relative;
    margin: 0;
    display: block;
    color:  #bfbfbf;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;

    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}

.field-input{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;

    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;

    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}

.field-area{
    height:auto;
    padding-top:5px;
    width:90%;
}

.field::after, .field::before{
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;

    background-color: #e6e6e6;
}

.field::after{
    background-color: #44CCDD;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.has-label .field-label{
    transform: translateY(0) scale(0.75);
}

.is-focused .field-label{
    color: #44CCDD;
}
.field.is-focused::after{
    transform: scaleX(1);
}

.field.error .field-label{
    color: #e74c3c;
}

.field.error::after{
    background-color: #e74c3c;
}




.header{
    display: block;
    margin: auto;
    border-bottom: solid 2px #FFF2B2;
    margin-bottom: 20px;
}

.header.header-form{
    margin-bottom:-8px;
}

p.error{
    color: #e74c3c;
}

.membre{
    display:block;
    background-color:#FFF;
    margin: auto;
    width: 50%;
    padding:10px 10px;
    margin-bottom:10px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px #FFF2B2;
    box-shadow: 0px 4px 10px 10px rgba(225, 222, 222, 0.25);
  -moz-box-shadow: 0px 4px 10px 10px rgba(225, 222, 222, 0.25);
  -webkit-box-shadow: 0px 4px 10px 10px rgba(225, 222, 222, 0.25);
    position:relative;
}

.membre .select{
    position:absolute;
    right: 10px;
    top: 9px;
    background-color:#E3F9FC;
    color:#44CCDD;
    display:block;
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    line-height:40px;
}

.membre .select:hover{
    background-color:#2980b9;
}

.bottom{
    background-color:#fff;
    bottom:0px;
    width:96%;
}

.circle-button{
    background-color:#E3F9FC;
    color:#44CCDD;
    right:0px;
    top:25px;
    width:38px;
    border-radius:50%;
    padding:0;
    font-size:12px;
    outline:none;
}

.circle-button:hover {
    background-color: #27a1b1;
}


.messages-box{
    position:relative;
    background-color:#fff;
    height: 70vh;
    overflow-y: auto;

}

/*.messages-box::-webkit-scrollbar {
    width: 0px;
} */

.app {
    background-color:#fff;
    margin: auto;
    padding: 35px;
    width: 50%;
    border-radius: 40px;
    border: solid 1px c;
    box-shadow: 0px 4px 10px 10px rgba(225, 222, 222, 0.25);
  -moz-box-shadow: 0px 4px 10px 10px rgba(225, 222, 222, 0.25);
  -webkit-box-shadow: 0px 4px 10px 10px rgba(225, 222, 222, 0.25);
}

.messages-box .message{
    padding: 3px 8px;
    margin:3px 0;
    border-radius:12px;
    max-width:75%;
    display:inline-block;
    min-height:25px;
}

.messages-box .message.message-membre{
    background-color:#E3F9FC;
    float:right;
}

.messages-box .message.message-user{
    background-color:#FFF2B2;
}

/* Apparence du Tchat Video*/

#video-call-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#local-video {
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    border-radius: 16px;
    width: 20%;
    height: 20%;
    background: white;
}

#remote-video {
    background: black;
    width: 100%;
    height: 100%;
}

.call-action-div {
    position: absolute;
    left: 45%;
    bottom: 32px;
}



