body {
  box-sizing: border-box;
  background-color:#F6FEFF;
  padding: 0;
  margin: 0;
}

/* Page index.php */

main {
  width: 100%;
  height: 100vh;
  background-color: #F6FEFF;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: auto;
}

ul li {
  margin: 10% auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.btn-nav {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn-nav button{
  border: none;
  padding: 10px;
  border-radius: 100px;
  font-family: 'Nunito Sans', sans-serif;
}

.logo {
  width: 20%;
}

.logo a{
  color: #44CCDD;
  font-size: 50px;
}

.connexion {
  background-color: #FFE66D;
  

}

.inscription {
  background-color: #44CCDD;
}


.connexion a:visited {
  color: white;
}

.inscription a:visited {
  color: white;
}


.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  
}

.content h1{
  font-size: 48px;
  font-family: 'Nunito Sans',  sans-serif;
  font-weight: 400;
}

.content h2 {
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: #878787;
}

.content button {
  font-family: 'Nunito Sans',  sans-serif;
  border: none;
  border-radius: 100px;
  padding: 10px;
  width: 25%;
  margin: 3% auto;
  background-color: #FFE66D;
}

.content button a {
  color: white;
}

.content img {
  width: 80%;
  margin: auto;
}

/*Page lorsque l'utilisateur passe un appel vidéo live.php */

.content-live {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  margin: 0 auto;
}

.chat-video {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 70%;
  height: 80vh;
  margin: 1% 0;
}

.video {
  width: 100%;
  height: 70vh;
  background-color: grey;
  border-radius: 20px;
  box-shadow: 4px 10px 14px 10px #eeedec;
}

.row-btn-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}

.btn-video {
  margin: auto 5%;
  border: none;
  padding: 15px;
  border-radius: 50%;
  background-color: #E3F9FC;
  box-shadow: 3px 4px 14px 2px #d5efeb;
  cursor: pointer;
}

.btn-video path{
  fill: #44CCDD;
}


.chat-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: grey;
  margin: auto 2%;
  border-radius: 20px;
  background-color: white;
  border: solid 1px #FFF2B2;
  box-shadow: 0px 4px 10px 10px #f8f7f7;
}

h3 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
}


/* Page home.php */
p {
  margin: 0px;
  padding: 0px;
}

.home-structure {
  display: flex;
  flex-direction: row;
}

.membre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
}

.home-en-tete {
  display: flex;
  flex-direction: row;
  margin: 35px 35px 35px 35px;
}

.home-message-pair {
  display: flex;
  flex-direction: row;
  padding: 20px 35px 20px 35px;
}

.home-message-impair {
  display: flex;
  flex-direction: row;
  background-color: #FFF2B2;
  padding: 20px 35px 20px 35px;
}

.home-message2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
}

.home-photo {
  width: 54px;
  height: 54px;
  border-radius: 40px;
}

.home-cartouche{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-icone {

  border-radius: 20px;
  padding: 10px;
  margin: 0px 5px 0px 5px;
  background-color: #E3F9FC;
  box-shadow: 3px 4px 14px 2px rgba(87, 189, 177, 0.25);
-moz-box-shadow: 3px 4px 14px 2px rgba(87, 189, 177, 0.25);
-webkit-box-shadow: 3px 4px 14px 2px rgba(87, 189, 177, 0.25);
}

.home-chat {
  background-color: #FFF;
  width: 700px;
  border-radius: 40px;
  border: solid 1px #FFF2B2;
  margin: 10px;
  box-shadow: 0px 4px 10px 10px rgba(225, 222, 222, 0.25);
-moz-box-shadow: 0px 4px 10px 10px rgba(225, 222, 222, 0.25);
-webkit-box-shadow: 0px 4px 10px 10px rgba(225, 222, 222, 0.25);

}

.message {
  margin: 35px 35px 35px 35px;
}

